body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

.HeaderTitle {
  z-index: 999 !important;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.BannerCostume {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("./Assets/hero.jpg");
  background-attachment: fixed;
}

.popularProduct {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  gap: 20px;
  justify-content: center;
}

.KardCostume {
  width: 444px;
  border-radius: 10px !important;
}

.KardCostumeImage {
  border-radius: 10px;
}

.KardCostumeViewAll {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.Appjs {
}

.darkKontainer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.inBetween {
  height: 50vh;
  background-image: url("./Assets/hero.jpg");
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}
